* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto';
}

html {
    overflow: hidden;
}

.container {
    max-width: 1920px;
    width: 100%;
}


.nav {
    width: 100%;
    height:50px ;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}


li {
    list-style: none;
}

.links {
    text-decoration: none;
    color: #333;
    padding:0 30px ;
    font-family: 'Roboto';
    font-size: 14px;
}

.links:hover {
    text-decoration: underline;
}



.flex_box {
    display: flex;
    font-family: 'Roboto';    
    justify-content: center;
    border: 1px solid #EFEFEF;
    padding-bottom: 30px;
}


.beauty {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    text-transform: uppercase;
    padding: 35px 0 0 0;
}

input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #EFEFEF;
    margin:35px 0 0  172px;
    padding: 0 10px;
} 

.numbers {
    padding:45px 0 0 95px ;
}

.border {
    width: 170px;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    margin:35px 0 0 95px ;
}

.text {
    padding:12px 15px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    transition: .3s;
}

.text:hover {
    background-color:#F13C6E;
    color: #fff;
    border-radius: 40px;
    transition: .1s;
}


.pinks img {
    width: 70px;
    padding-top: 25px;
    position: absolute;
    left: 330px;
}


.links2 {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding:0 40px ;
    z-index: 1;
}


.nav2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.links2:hover {
    text-decoration: underline;
}


.kreslo {
    width: 100%;
    height: 100vh;
    background-color:#F13C6E ;
    margin-top: 30px;
}

.stul img {
    position: absolute;
    left:865px ;
    padding-top: 50px;
    z-index: 9999;
}


.suber {
    position: absolute;
    left: 405px;
    top: 441px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.test {
    left: 405px;
    top: 535px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    width: 308px;

}

.btn {
    width: 145px;
    left: 405px;
    top: 620px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    position: absolute;
    left: 405px;
    top: 620px;
}

.btn3 {
    color: #EFEFEF;
    text-decoration: none;
    padding:12px 35px  ;
    font-size: 14px;
    transition: .3s;
}


.btn3:hover {
    background-color: #fff;
    color: #F13C6E;
    border-radius: 30px;
    transition: .3s;
}


.opac {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    left: 765px;
    bottom: -50px;
    padding: 20px 0;
    }


.opac2 {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    left: 810px;
    bottom: 0;
    padding: 20px 0;
}